{% extends 'Main/layout.html' %}
{% load static %}
    
{% block title %} {% for note in notes %} {{ note.title }} {% endfor %}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="note_container">
        <div class="text_block">
            <h1>{{id}} {{ note.title }}</h1>
            <br>
            <span>{{ note.text }}</span>
        </div>
        <div class="button_block">
            <button class="crud_button" type="submit" name="delete">Удалить</button>
            <button class="crud_button" name="edit"><a href="{% url 'edit' note.id %}">Редактировать</a></button>   
        </div>
    </div>
{% endblock %}